<template>
    <div class="container">

        <input class="form-control mb-2" v-model="searchQuery" type="text" placeholder="поиск">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key+1 | capitalize }}
                </th>
            </tr>
            </thead>

            <item
                v-for="item in filteredData"
                v-bind:val="item"
                v-bind:v="item"
                :filter-key="searchQuery"
            ></item>
        </table>
    </div>
</template>

<script>

    Vue.component('item', {
        props: ['val'],
        template : '<tr><td v-for="item in val">{{ item }}</td></tr>',
        mounted() {
        }
    });

    export default {
        data : function() {
            return {
                dta : [],
                loading : false,
                error : false,
                searchQuery : '',
                sortKey: '',
                columns : []
            }
        },
        computed : {
            filteredData : function(){
                let filterKey = this.searchQuery && this.searchQuery.toLowerCase();

                let data = this.dta;
                if (this.searchQuery) {
                    data = data.filter(function (row) {
                        console.log('filter');
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }

                return data
            }
        },
        filters: {
            capitalize: function (str) {
                let result = '';
                try {
                    result = str.charAt(0).toUpperCase() + str.slice(1)
                } catch (e){
                    result = str;
                }

                return result
            }
        },
        methods : {
           getData : function() {
               let scope = this;
               let filename = document.getElementById('filename');
               let id = document.getElementById('id');

               let url = '';

               if (filename){  url = `/get/${filename.innerText}`;   }
               if (id){ url = `/db/${id.innerText}`; }

               axios.get(url)
                   .then( function(response){
                       scope.dta = response.data;
                       // считаем первую строчку заголовками для будущей сортировки
                       if (scope.dta){
                           let columns = [];
                           for (let i=0; i < scope.dta[0].length; i++){
                               columns.push((i  ));
                           }

                           scope.columns = columns;
                       }

                   })
                   .catch( function(response){
                      alert('при обработке данных произошла ошибка');
                   });

           },

            sortBy : function(key){
                console.log(key);
            },
            filterBy : function(){

            }
        },
        mounted() {
            console.log('Component mounted.');
            this.getData();
        }
    }



</script>
